<html lang="en">

    <%- include('../../layout/head') %>

<body>

    <%- include('../../layout/header') %>

    
    <main>


        <h2>Serach by Title or Author</h2>
        <form class="form-book" action="/searches" method="POST">
            <input type="text" name="searchWord" placeholder="Enter a title or author"> 
            <input type="radio" name="serachMthod" placeholder="title" value="intitle">Title
            <input type="radio" name="serachMthod" placeholder="author" value="inauthor">Author
            <button>Serach the Google Books API</button>
        </form>


    </main>


    <%- include('../../layout/footer') %>

</body>
</html>