<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css"">
</head>
<body>
    <header>
        <h1>Book App</h1> 
        <nav>
            <a href="/"> Home</a>
            <a href="/searches/new"> Serach A book!</a>
        </nav>
    </header>
    
    <main>
        <img class="main-img" src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_1280.jpg" alt="">
    </main>
    <footer>
       <p>All rightes Reserved 2021 &copy;</p> 
    </footer>
</body>
</html>